body {
  /* background-color: rgba(250, 237, 141, 0.675); */
  /* background: url(https://i.pinimg.com/originals/9c/ca/a2/9ccaa29ae616a2ebbffdc6e6ba82c6d7.png); */
  /* background: url(https://img.freepik.com/vector-premium/carretera-rastro-huellas-perros-alejandose-patron-huella-animal-huella-silueta-tarjetas-cachorro_391563-40.jpg?w=2000); */
  /* background: url(https://static.vecteezy.com/system/resources/previews/008/651/790/non_2x/dog-bones-and-paws-seamless-pattern-isolated-white-background-vector.jpg); */
  /* background: url(https://media.istockphoto.com/id/494603589/es/foto/huella-animal.jpg?s=612x612&w=0&k=20&c=VAkGPwVr76U4I020Mc3Gj76GRM_DmWy_M2h2kzvTq3w=); */
  /* background: url(https://static.vecteezy.com/system/resources/previews/004/955/064/non_2x/dog-paw-prints-free-vector.jpg); */
  /* background: url(https://img.freepik.com/vector-premium/ilustracion-caricatura-perro-kangal-sentado-sobre-fondo-blanco_143596-107.jpg?w=2000); */
  background: url(https://static.vecteezy.com/system/resources/previews/007/861/317/non_2x/simple-hand-drawn-drawing-in-black-outline-cartoon-doodle-head-of-a-dog-in-profile-isolated-on-a-white-background-for-labels-stickers-logo-veterinary-pet-shop-dachshund-breed-vector.jpg);
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-size:55%;
  /* background-size: cover; */
  object-fit: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
