.HenryDogs{
    font-family: 'Lobster', cursive;
    font-size:xx-large;
    /* color: rgb(115, 131, 76); */
    color: #a53e3a;;
}

.create{
    font-size: larger;
    /* margin-left: 65%; */
    font-family: 'Lobster', cursive;
    width: 10%;
    height: 3%;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(235, 154, 133);
}

.reload{
    margin-right: 70.5%;
    font-size:medium;
    font-family: 'Lobster', cursive;
    width: 10%;
    height: 5%;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: rgb(178, 208, 114); */
    background-color: rgb(235, 154, 133);
}

.filters{
    margin-right: 46.5%;
}

.filter{
    font-size:medium;
    margin-left: 1%;
    font-family: 'Lobster', cursive;
    border-radius: 4px;
    /* background-color: rgb(178, 208, 114); */
    background-color: rgb(235, 154, 133);
}

.NavBar{
    /* background: url(https://img.freepik.com/vector-premium/huellas-animales-color-agua-dibujados-mano-aislados-silueta-huella-pata_476141-977.jpg?w=2000); */
    
    background: linear-gradient(135deg,#e0726a86, #dce9dcb3);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size:80%;
    margin-right: -10%;
    margin-left: -10%; */
    margin-top: -1.6%;
}
.gif{
    background: url(https://thumbs.gfycat.com/DefenselessAmusingIberianmidwifetoad-max-1mb.gif);
    background-position:80%;
    background-size:40%;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 1%;
}

.link{
    text-decoration: none;
    color: black;
}

.loading{
    background: linear-gradient(135deg,#e0726a, #dce9dc);
    border-radius: 30px;
    font-family: 'Lobster', cursive;
    font-size:xx-large;
    width: 150px;

}