.pageBtn{
    height: 35px;
    width: 35px;
    margin: 5px;
    border-radius: 5px;
    /* background-color: rgb(108, 161, 84); */
    /* background: url(https://img.freepik.com/vector-gratis/fondo-degradado-tonos-verdes_23-2148380476.jpg?w=360); */
    background: linear-gradient(135deg,#e0726af7, #dce9dc);
    border: none;
    cursor: pointer;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .pagination li{
    list-style-type: none;
  }
  