.pageBtn{
    height: 35px;
    width: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(127, 167, 109);
    cursor: pointer;
    animation: fadeIn 3s;
    animation: rotating 1.5s;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .pagination li{
    list-style-type: none;
  }
  